<!doctype html>
<html>
   <body>
   
      <h1>List all courses in given room</h1>
      <div>
            <form method="post" action="/listcourses">
                <input name="room" placeholder="Enter Room"/>
                <button type="submit" class="submitbtn" name="submit"/>
            </form>
      </div>
      
      <div>
        <table>
            <tr>
                <th>Courses</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item}}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
   </body>
</html>